PORT=5000
MONGO_URI=mongodb://localhost:27017/minipaas

# Cloudflare Configuration
CLOUDFLARE_TUNNEL_ID=your-tunnel-id
CLOUDFLARE_CONFIG_PATH=/root/.cloudflared/config.yml
CLOUDFLARE_RESTART_CMD=pm2 restart cloudflared

# Git
# SSH_PRIVATE_KEY=... (optional)

# Firebase Notification
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
